
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav class="bg-primary">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Myblogs</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="sass.html">About</a></li>
              <li><a href="badges.html">Admin</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Topics<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
    </div>
  </nav>